


<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
     
    {{>navbar}}

                     <div class="col-md-10 col-12 mx-auto mt-5">
              
                        <h1> <span id="logo" class="txt_clr"> Famous Playlist Dsa Course</span></h1>
                        <div class="java">
                            <li> Love Babbar:- <a href="https://www.youtube.com/watch?v=WQoB2z67hvY&list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA" target="_blank">Open</a> </li>
                            <li> Apna College:- <a href="https://www.youtube.com/watch?v=z9bZufPHFLU&list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ"  target="_blank">Open</a> </li>

                        </div>

                       <h1> <span id="logo" class="txt_clr"> Topic Wise Famous Playlist</span></h1>
                       
                       <div class="java">
                            <h2>Linked List</h2>
                            <li> Vivekanand Khyade:- <a href="https://www.youtube.com/watch?v=Rs1KPyb9fHY&list=PLeIMaH7i8JDio7glJoO1rQIAo4g1msRRG" target="_blank">Open</a> </li>
                        </div>

                        <div class="java">
                            <h2>Recursion</h2>
                            <li> Adithya verma:- <a href="https://www.youtube.com/watch?v=kHi1DUhp9kM&list=PL_z_8CaSLPWeT1ffjiImo0sYTcnLzo-wY" target="_blank">Open</a> </li>
                        </div>

                        <div class="java">
                            <h2>Sliiding Window , Binary Search</h2>
                            <li> Adithya verma:- <a href="https://www.youtube.com/watch?v=EHCGAZBbB88&list=PL_z_8CaSLPWeM8BDJmIYDaoQ5zuwyxnfj" target="_blank">Open1</a> , <a href="https://www.youtube.com/watch?v=j7NodO9HIbk&list=PL_z_8CaSLPWeYfhtuKHj-9MpYb6XQJ_f2">Open2</a> </li>
                        </div>

                        <div class="java">
                            <h2>Trees</h2>
                            <li> Take You Forward(Striver):- <a href="https://www.youtube.com/watch?v=OYqYEM1bMK8&list=PLgUwDviBIf0q8Hkd7bK2Bpryj2xVJk8Vk" target="_blank">Open</a> </li>
                        </div>

                        <div class="java">
                            <h2>Stack</h2>
                            <li> Adithya Verma:- <a href="https://www.youtube.com/watch?v=P1bAPZg5uaE&list=PL_z_8CaSLPWdeOezg68SKkeLN4-T_jNHd" target="_blank">Open</a> </li>
                        </div>

                        <div class="java">
                            <h2>Graph</h2>
                            <li> striver:- <a href="https://www.youtube.com/watch?v=M3_pLsDdeuU&list=PLgUwDviBIf0oE3gA41TKO2H5bHpPd7fzn" target="_blank">Open</a> </li>
                        </div>

                        <div class="java">
                            <h2>Dynamic Programming</h2>


                        

            

                        <a href="/"> <button class=" btn-style btn-primary "">Home</button></a>
</div>

</body>

</html>