


<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
     
    {{>navbar}}


                
                    
                    <div class="col-md-6 col-12 main_header_left"> --}}

                     <div class="col-md-10 col-12 mx-auto mt-5">
              
                        <h1> <span id="logo" class="txt_clr"> Famous Playlist Front End Development</span></h1>
                        <div class="java">


                        </div>
                        </div>
                            <li> Code With Harry:- <a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="_blank">Open</a> </li>
                            
                        </div>

                        </div>

                        <div class="java">

                             <h2>Dr. Angela Yu (udemy)  ,Web development bootcamp</h2>
                            <li> Udemy :- <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/"  target="_blank">Open</a> </li>
                            

                        </div>

                        <div class="java">

                             <h2>Reactjs</h2>
                            <li> Thapa Thecnical:- <a href="https://www.youtube.com/watch?v=tiLWCNFzThE&list=PLwGdqUZWnOp3aROg4wypcRhZqJG3ajZWJ" target="_blank">Open</a> </li>
                            

                        </div>

                    
                        <a href="/"> <button class=" btn-style btn-primary "">Home</button></a>
</div>


</body>

</html>