<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
     
    {{>navbar}}

 
    <div class="container-fluid  mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left  d-flex justify-content-center align-items-start flex-column">

                        <div>
                            <h1>We WILL HELP You To</h1>
                            <h1>Grow Your Tech Skills</h1>
                            <p>We Are The Team of <span class="bold-style">Professional coders & Developer</span></p>
                            <a href="/read"><button href="/read" class="btn-style btn-primary">Read more</button></a>
                
                        </div>
                        

                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                    <img src="images/image2.png" alt="Rohit" class="img-fluid" title="Rohit garg"> 
                    </div>

                </div>
            </div>
        </div>
    </div>



     {{>aboutus}}

     
     {{>service}}


     {{>maps}}


     {{>contact}}



   
    <footer>
    <p>Created by Rohit garg</p>
  </footer>

</body>

</html>