


<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
     
    {{>navbar}}


                     <div class="col-md-10 col-12 mx-auto mt-5">
              
                        <h1> <span id="logo" class="txt_clr"> ABOUT US </span></h1>
                        <ul>
                            <li class="mission">Our Team Members Are Top Engineers And Coders</li>
                            <li class="mission"> Team Member Are From Best Company Of India</li>
                            <li class="mission"> They Also Help In Different Hackothan In India </li>
                            <li class="mission">All Have a Experience Of More Than 10 Years In Tech</li>
                            <li class="mission">All Educators Are Best Coder And Developer</li>
                        
                        </ul>
                        <a href="/"> <button class=" btn-style btn-primary "">Home</button></a>
</div>


</body>

</html>











