


<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
     
    {{>navbar}}


                     <div class="col-md-10 col-12 mx-auto mt-5">
              
                        <h1> <span id="logo" class="txt_clr"> OUR MISSIONS </span></h1>
                        <ul>
                            <li class="mission">To Guide You For Complete Placement journey</li>
                            <li class="mission"> To Provide You Best Quality Content</li>
                            <li class="mission"> To provide You Guidance of DSA,Web development,Motivation,Practice site </li>
                            <li class="mission">To provide You The Best Youtube Links Of Above Course</li>
                            <li class="mission">To Provide Best Quality Educator Guidance</li>
                        
                        </ul>
                        <a href="/"><button class=" btn-style btn-primary "">Home</button></a>
</div>


</body>

</html>











