


<!DOCTYPE html>
<html lang="en">

{{>headerlinks}}

<body>
     
    {{>navbar}}

                     <div class="col-md-10 col-12 mx-auto mt-5">
              
                        <h1> <span id="logo" class="txt_clr"> Famous Playlist Back End Development</span></h1>
                        
                        <div class="java">

                             <h2>Computer Network</h2>
                            <li> Gate Smashers:- <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_" target="_blank">Open</a> </li>
                            

                        </div>

                        <div class="java">

                             <h2>DBMS</h2>
                            <li> Gate Smashers:- <a href="https://www.youtube.com/watch?v=kBdlM6hNDAE&list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y" target="_blank">Open</a> </li>
                            

                        </div>

                        <div class="java">

                             <h2>Operating System</h2>
                            <li> Gate Smaahers:- <a href="https://www.youtube.com/watch?v=bkSWJJZNgf8&list=PLxCzCOWd7aiGz9donHRrE9I3Mwn6XdP8p" target="_blank">Open</a> </li>
                            

                        </div>

                    
                        <a href="/"> <button class=" btn-style btn-primary "">Home</button></a>
</div>


</body>

</html>