<div class="container-fluid  mt-5  about-style" id="aboutid" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading ">About us</h1>
                <p class="text-center sub-heading">grow your business with us</p>
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 hero-text   d-flex justify-content-center align-items-start flex-column">
                    <img src="images/img3.jpg" alt="Rohit" class="img-fluid" title="Rohit garg"> 
                    </div>
                   
                    <!-- right side div -->
                     <div class="col-md-6 col-12 main_header_left">

                        <div>
                            <h1>We Are the Proffesional Developer</h1>
                            <p>
                                Welcome To <span class="bold-style">Technical India.</span>
                                We welcome You on Best Placement Guidance Site Of InDia . we dedicated to giving
                                 you the very best of work, with a focus on this.
                            </p>
                            
                            <p>We Are The Team of <span class="bold-style">Professional Developer</span></p>
                            <a href="/read2"><button class="btn-style btn-primary">Read more</button></a>
                        </div>
                        

                    </div>
                    

                </div>
            </div>
        </div>
    </div>